<h1>トップ画面</h1>

<div style="text-align:center">
    <p><%= link_to "生徒一覧画面へ", students_path, class: "btn btn-primary" %></p>
    <p><%= link_to "部活動一覧画面へ", clubs_path, class: "btn btn-primary" %></p>
</div>